.product{
    display: flex;
    border-bottom: 0.01rem solid grey;
    margin:1rem;
    
}
.product-name{
    margin:1rem;
}
.product-name h4{
    color:blue;
    font-weight:400px;
}
.add-to-card-btn{
    color:white;
    width:15rem;
    height:2rem;
    background-color: goldenrod;
    border:1px black;
    cursor:pointer;
}